[mysqld]
# --- 基础与安全 ---
port = 3306
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
skip-name-resolve
# 可选，每次会话强制字符集。
init_connect='SET NAMES utf8mb4 COLLATE utf8mb4_unicode_ci'

# --- 内存优化 (假设宿主机内存 >= 4G，如果是 2G 请减半) ---
innodb_buffer_pool_size = 1G
innodb_log_buffer_size = 16M
innodb_flush_log_at_trx_commit = 1
max_connections = 500

# --- 日志设置---
slow_query_log = 1
long_query_time = 2

[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4