<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<!--
  Licensed under the Apache License, Version 2.0 (the "License");
-->
<configuration>
  <property>
    <name>dfs.namenode.name.dir</name>
    <value>file:///opt/hadoop/data/nn</value>
    <description>Path on the local filesystem where the NameNode stores the namespace and transactions logs</description>
  </property>
  <property>
    <name>dfs.datanode.data.dir</name>
    <value>file:///opt/hadoop/data/dn</value>
    <description>Comma separated list of paths on the local filesystem of a DataNode where it should store its blocks</description>
  </property>
  <property>
    <name>dfs.namenode.rpc-address</name>
    <value>0.0.0.0:9000</value>
    <description>RPC address that the NameNode will listen on</description>
  </property>
  <property>
    <name>dfs.namenode.http-address</name>
    <value>0.0.0.0:9870</value>
    <description>The address and the base port where the dfs namenode web ui will listen on</description>
  </property>
  <property>
    <name>dfs.namenode.secondary.http-address</name>
    <value>0.0.0.0:9868</value>
    <description>The secondary namenode http address</description>
  </property>
  <property>
    <name>dfs.replication</name>
    <value>3</value>
    <description>Default block replication</description>
  </property>
  <property>
    <name>dfs.blocksize</name>
    <value>134217728</value>
    <description>HDFS block size (128MB)</description>
  </property>
  <property>
    <name>dfs.namenode.handler.count</name>
    <value>64</value>
    <description>Number of server threads for the NameNode</description>
  </property>
  <property>
    <name>dfs.datanode.handler.count</name>
    <value>32</value>
    <description>Number of threads for the DataNode</description>
  </property>
  <property>
    <name>dfs.permissions.enabled</name>
    <value>false</value>
    <description>If true, enable permission checking in HDFS</description>
  </property>
  <property>
    <name>dfs.webhdfs.enabled</name>
    <value>true</value>
    <description>Enable WebHDFS</description>
  </property>
  <property>
    <name>dfs.datanode.use.datanode.hostname</name>
    <value>false</value>
  </property>
  <property>
    <name>dfs.namenode.datanode.registration.ip-hostname-check</name>
    <value>false</value>
  </property>
  <property>
    <name>dfs.client.use.datanode.hostname</name>
    <value>false</value>
  </property>
</configuration>
